.Header {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow:
    0 0px 4px 0 rgba(0, 0, 0, 0.025),
    0 6px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: white;
  height: 4.45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: calc(5% + 0.625rem);
  padding-right: calc(5% + 0.625rem);

  img {
    width: 225px;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  @media (max-width: 700px) {
    img {
      width: 200px;
    }
    .Header__text {
      display: none;
    }
  }
}
