.Footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.45rem;
  color: white;

  a {
    color: white;
    text-decoration: none;
    margin: 0 0.625rem;
  }
}
