.Page {
  padding-left: calc(2rem);
  padding-right: calc(2rem);
  max-width: 62.5rem;
  width: 100%;
  margin: auto;
  min-height: calc(100vh - 4.45rem * 2);
}

.SquadGame {
  background-color: rgb(220, 220, 220);
  color: black;
}
